* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  height: 100%;
}
.box-alert {
  width: 90%;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  text-align: center;
  position: absolute;
  top: -36px;
  opacity: 0;
  transition: 2s;
  transform: translateX(-50%);
  left: 50%;
}
.opasity {
  opacity: 1!important;
}
.sucesso {
  background-color: #5dff8d;
  color: #10631b;
}
.erro {
  background-color: #f87676;
  color: #751f1f;
}
.alert {
  background-color: #fbff0f;
  color: #434926;
}
/* Boot CSS*/
.center {
  max-width: 1780px;
  padding: 0 2%;
  margin: 0 auto;
  display: flex;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
  padding: 0 2%;
}
.w33 {
  width: 33.3%;
  padding: 0 2%;
}
.form-group input[type=text],
.form-group input[type=password] {
  width: 100%;
  height: 40px;
  border: 1px solid #1d618f;
  padding-left: 8px;
  font-size: 23px;
  border-radius: 24px;
  margin-bottom: 25px;
  background: #3dbabe;
}
.form-group input[type=text]:focus,
.form-group input[type=password]:focus {
  outline: none;
}
.form-group input[type=submit] {
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #388db4;
  cursor: pointer;
}
.form-group input[type=submit]:hover {
  transform: scale(1.1, 1.1);
}
header {
  background: #499ca1;
  padding: 8px;
  height: 5vh;
}
header .center {
  justify-content: space-between;
}
header .center .logo {
  font-size: 24px;
  color: #113842;
  letter-spacing: 5px;
}
header .center .logo a {
  color: #113842;
  text-decoration: none;
}
header .center .logo a:hover {
  color: #6ca8b8;
  transform: scale(1.1, 1.1);
}
header .center nav ul {
  list-style-type: none;
  display: flex;
}
header .center nav ul li {
  margin: 0 10px;
}
header .center nav ul li a {
  text-decoration: none;
  color: #174652;
  font-size: 17;
  font-weight: 800;
}
header .center nav ul li a:hover {
  color: #6ca8b8;
  transform: scale(1.2, 1.2);
}
.box-login {
  min-height: 95vh;
  position: relative;
  background: #70bbbe;
}
.box-login h2 {
  text-align: center;
  font-size: 27px;
  margin-bottom: 30px;
}
.box-login form {
  padding: 20px;
  position: absolute;
  border-radius: 34px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
  background: #458688;
}
.area-aluno {
  width: 100%;
  min-height: 95vh;
  background: #70bbbe;
  padding-bottom: 50px;
}
.area-aluno .center {
  flex-wrap: wrap;
  width: 100%;
}
.area-aluno .center .h2-aluno h2 {
  text-align: left;
  padding: 20px 20px 20px 50px;
  background: #5eacaf;
  margin: 20px;
}
.area-aluno .center .apresentacao-wrap {
  background-color: #34787a;
  border-radius: 35px;
  padding: 40px;
  position: relative;
}
.area-aluno .center .apresentacao-wrap .modulos-h2 {
  text-align: center;
  margin-bottom: 40px;
}
.area-aluno .center .apresentacao-wrap .modulos-h2 h3 {
  padding: 6px 12px;
  background-color: #52e47e;
  display: inline-block;
  border-radius: 30px;
}
.area-aluno .center .apresentacao-wrap .modulos {
  display: flex;
  flex-wrap: wrap;
}
.area-aluno .center .apresentacao-wrap .modulos .modulo-single {
  background-color: #3c898b;
  margin: 10px 0px;
  border-bottom: 4px solid #1c5c46;
  padding: 10px;
  border-radius: 20px;
}
.area-aluno .center .apresentacao-wrap .modulos .modulo-single h2 {
  color: #00d8b4;
}
.area-aluno .center .apresentacao-wrap .modulos .modulo-single p {
  padding: 6px 7px 4px 14px;
  border-bottom: 2px solid black;
}
.area-aluno .center .apresentacao-wrap .modulos .modulo-single p a {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}
.area-aluno .center .apresentacao-wrap .h2-apresentacao {
  padding: 6px 12px;
  background-color: #f4f809;
  text-align: center;
  border-radius: 20px;
}
.area-aluno .center .apresentacao-wrap h3 {
  margin-bottom: 30px;
}
.area-aluno .center .apresentacao-wrap .apresentacao iframe {
  width: 100% !important;
  height: 500px !important;
}
.area-aluno .center .apresentacao-wrap .comprar-btn {
  display: flex;
  justify-content: center;
}
.area-aluno .center .apresentacao-wrap .comprar-btn a {
  padding: 5px 10px;
  margin-top: 30px;
  background-color: #1cbd1c;
  color: #115c3d;
  text-decoration: none;
  font-weight: 900;
  border-radius: 34px;
  border-bottom: 3px solid #184b18;
}
.area-aluno .center .apresentacao-wrap .comprar-btn a:hover {
  transform: scale(1.1, 1.1);
}
.aula-single-wrap {
  width: 100%;
  padding: 30px;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #3c898b;
}
.aula-single-wrap .aula-single {
  text-align: center;
  width: 100%;
  border-radius: 40px;
  background-color: #479396;
  padding: 20px 15px;
}
.aula-single-wrap .aula-single h2 {
  padding: 7px 12px;
  background-color: #1ea1aa;
  color: white;
  border-radius: 30px;
  margin-bottom: 30px;
}
.aula-single-wrap .aula-single iframe {
  width: 100%;
  height: 800px;
}
